<!DOCTYPE html>
<html>

<head>
<%- include('../../include/common/head') %>
  <link rel="stylesheet" href="/stat/<%= stat_version %>/css/common.css">
</head>

<body>
<%- include('../../include/common/header') %>
<%- include('../../include/common/nav') %>

  <h1><%= base.title_content %></h1>

  <p>リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文リード文</p>

  <div class="img"><img src="/stat/<%= stat_version %>/img/img_0287.jpg" alt=""></div>

<%- include('../../include/module/sample') %>

<%- include('../../include/common/footer') %>

  <script async src="/stat/<%= stat_version %>/js/common.js"></script>
</body>

</html>
